body {
    font-size: 62.5%;
}
._main {
    background: #ddd;
    padding: 3rem 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;

    ._part {
        width: 60rem;
        height: 85rem;
        box-shadow: 5px 7px 10px 10px #999999;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        > div {
            height: 100%;
        }
        .part_left {
            width: 40%;
            height: 100%;
            background-color: hsl(0 0% 97%);
            ._title {
                font-size: 1.5rem;
                padding-left: 4rem;
                text-align: left;
                margin-top: 0.8em;
                margin-bottom: 0.6em;
                line-height: 1.35;
                color: #868789;
            }
            :global(.ant-divider) {
                margin: 0 4rem;
                margin-bottom: 10px;
            }
            :global(.ant-divider-horizontal) {
                width: calc(~"100% - 9rem") !important;
                min-width: calc(~"100% - 9rem") !important;
            }
            :global(.ant-list-split) {
                padding-left: 2rem;
                :global(.ant-list-item-meta) {
                    width: 1rem;
                }
                :global(.ant-list-item-meta-avatar) {
                    font-size: 1.2rem;
                    img {
                        width: 1.2rem;
                    }
                }
                :global(.ant-list-item) {
                    padding: 4px 0;
                    font-size: 1.2em;
                }
                :global(.ant-list-item-meta-title) {
                    font-size: 1.2em;
                }
            }
            :global(.ant-list-bordered) {
                padding-left: 2rem;
                padding-right: 0.5rem;
            }
            ._project_item {
                word-break: break-word;
                text-indent: -1em;
                margin-left: 1em;
                // padding-right: 1em;
                padding: 0.75em;
            }
        }
        .part_right {
            width: 55%;
            height: 100%;
        }
    }

    ._download {
        position: fixed;
        right: 0;
        top: 40%;
        font-size: 12px;
        font-weight: 500;
        transform: translateY(-50%);
        background: hsl(0 0% 97%);
        width: 100px;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        box-shadow: 3px 3px 3px #999999;
        cursor: pointer;
    }
}
@media (min-width: 200px) and (max-width: 750px) {
    ._main {
        padding: 0;
        ._part {
            width: 100%;
            height: 100%;
            .part_left {
                flex: 1;
                :global(.ant-divider-horizontal) {
                    width: calc(~"100% - 5rem") !important;
                    min-width: calc(~"100% - 5rem") !important;
                }
                :global(.ant-divider) {
                    margin: 0 4rem;
                    margin-bottom: 10px;
                }
            }
            .part_right {
                flex: 0;
            }
        }
    }
}

:global(.ant-divider) {
    height: 2px;
    background-color: #b9babc;
}
